@media (prefers-color-scheme: dark) {
    .all {
        background-color: #0A2A30;
        color: white;
        font-family: 'Nunito', sans-serif;
    }
    .code {
        font-family: 'Roboto Mono', monospace;
        padding: 2%;
        border-radius: 10px;
        background-color: #0E5463;
    }
}