@media (prefers-color-scheme: dark) {
    * {
        font-family: 'Nunito', sans-serif;
    }

    .all {
        background-color: #0A2A30;
        color: white;
    }
    .code {
        font-family: 'Roboto Mono', monospace;
        padding: 0%;
        color: white;
        border-radius: 10px;
        background-color: #0E5463;
        direction: ltr;
        text-align: left;
    }
    .inline {
        padding: 0.5%;
        color: white;
        border-radius: 5px;
        background-color: #0E5463;
    }
    .inline-fa {
        padding: 0.5%;
        color: white;
        direction: rtl;
        text-align: right;
        border-radius: 5px;
        background-color: #0E5463;
    }
    .under {
        border-color: teal;
    }
}